In [1]:
#Importing all libraries
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import matplotlib.dates as matDates

In [2]:
#Reading COVID-19 Dataset for confirmed and death cases
dataFrame_confirm_cases = pd.read_csv ('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
dataFrame_death_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [3]:
#Displaying confirmed cases dataset
dataFrame_confirm_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205541,205612,205612,205802,205830,205907,206073,206133,206145,206206
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333316,333322,333330,333330,333338,333343,333360,333381,333391,333408
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271057,271061,271061,271079,271082,271090,271096,271100,271102,271107
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,47219,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104676,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333721,333746,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,259164,259164,259164,259164,259164

In [4]:
#Displaying Death cases dataset
dataFrame_death_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7834,7834,7834,7834
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,156,157,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1924,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5620,5620,5620,5620,5620

In [5]:
#Creating new column with total count of confirmed cases as Total_Confirmed_Cases
dataFrame_confirm_cases['Total_Confirmed_Cases'] = dataFrame_confirm_cases.iloc[:,4:].sum(axis=1)
dataFrame_confirm_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,Total_Confirmed_Cases
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205612,205612,205802,205830,205907,206073,206133,206145,206206,110214917
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333322,333330,333330,333338,333343,333360,333381,333391,333408,153830108
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271061,271061,271079,271082,271090,271096,271100,271102,271107,156966802
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,47219,47219,47219,47219,47219,20010202
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104676,104676,104676,104676,104676,50040541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,345738380
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,163637
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,6744660
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333746,333746,333746,333746,333746,333746,163803740
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,259164,259164,259164,259164,259164,115554724

In [6]:
#Creating new column with total count of Death cases as Total_Death_Cases
dataFrame_death_cases['Total_Death_Cases'] = dataFrame_death_cases.iloc[:,4:].sum(axis=1)
dataFrame_death_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,Total_Death_Cases
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7834,7834,7834,7834,4673864
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,2143775
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,4247580
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,157,157,157,157,157,111622
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1924,1924,1924,1924,1924,1048488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,3212449
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,1310341
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,2248142
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5620,5620,5620,5620,5620,2924366

In [7]:
#Creating new dataset with province/state, country/region, total cases so that we can merge them
confirmed_cases = dataFrame_confirm_cases[['Province/State','Country/Region','Total_Confirmed_Cases']]
death_cases = dataFrame_death_cases[['Province/State','Country/Region','Total_Death_Cases']]

In [8]:
#Merging both confirmed cases and death cases to create single dataFrame for Global Level data
dataFrame_global_level = pd.merge(confirmed_cases, death_cases, on=['Province/State','Country/Region'])
dataFrame_global_level

,Province/State,Country/Region,Total_Confirmed_Cases,Total_Death_Cases
0,NaN,Afghanistan,110214917,4673864
1,NaN,Albania,153830108,2143775
2,NaN,Algeria,156966802,4247580
3,NaN,Andorra,20010202,111622
4,NaN,Angola,50040541,1048488
...,...,...,...,...
284,NaN,West Bank and Gaza,345738380,3212449
285,NaN,Winter Olympics 2022,163637,0
286,NaN,Yemen,6744660,1310341
287,NaN,Zambia,163803740,2248142
288,NaN,Zimbabwe,115554724,2924366

In [31]:
#Using Access Key to get timeseries data of american, canadian, travel, real estate, precious metals.
acc_key = 'KSQ4GTM6O2NT2G7T'
ts = TimeSeries(key=acc_key,output_format='pandas')
a_american = ts.get_daily_adjusted('NASDX') #National Association of Securities Dealers Automated Quotations Stock Exchange
b_canadian = ts.get_daily_adjusted('TSE') #Torronto Stock Exchange
c_travel = ts.get_daily_adjusted('LUV') #SouthWest Airlines
d_real_estate = ts.get_daily_adjusted('AMT') #American Tower Real Estate
e_precious_metals = ts.get_daily_adjusted('GOLD') #Gold Metal

In [32]:
#Reseting index of american stock exchange dataFrame.
dataFrame_american = pd.DataFrame(a_american[0]).reset_index(level=0)
dataFrame_american

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-01,26.01,26.01,26.01,26.01,26.010000,0.0,0.0000,1.0
1,2022-11-30,25.97,25.97,25.97,25.97,25.970000,0.0,0.7655,1.0
2,2022-11-29,25.57,25.57,25.57,25.57,24.837906,0.0,0.0000,1.0
3,2022-11-28,25.75,25.75,25.75,25.75,25.012753,0.0,0.0000,1.0
4,2022-11-25,26.13,26.13,26.13,26.13,25.381873,0.0,0.0000,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-19,27.20,27.20,27.20,27.20,26.388848,0.0,0.0000,1.0
96,2022-07-18,26.38,26.38,26.38,26.38,25.593301,0.0,0.0000,1.0
97,2022-07-15,26.62,26.62,26.62,26.62,25.826144,0.0,0.0000,1.0
98,2022-07-14,26.14,26.14,26.14,26.14,25.360459,0.0,0.0000,1.0
99,2022-07-13,26.05,26.05,26.05,26.05,25.273143,0.0,0.0000,1.0

In [33]:
#Reseting index of canadian stock exchange dataFrame.
dataFrame_canadian = pd.DataFrame(b_canadian[0]).reset_index(level=0)
dataFrame_canadian

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-02,24.20,24.845,24.100,24.24,24.240000,319719.0,0.0,1.0
1,2022-12-01,24.61,25.440,24.520,24.67,24.670000,410078.0,0.0,1.0
2,2022-11-30,24.09,24.700,23.390,24.65,24.650000,449444.0,0.0,1.0
3,2022-11-29,23.84,24.390,23.605,24.31,24.310000,262948.0,0.0,1.0
4,2022-11-28,24.01,24.140,23.230,23.37,23.370000,286197.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-20,42.96,43.760,42.680,43.05,42.340993,402421.0,0.0,1.0
96,2022-07-19,42.29,43.990,41.909,43.01,42.301652,362366.0,0.0,1.0
97,2022-07-18,41.57,42.990,41.270,41.60,40.914874,406968.0,0.0,1.0
98,2022-07-15,40.21,40.520,39.300,40.46,39.793649,418740.0,0.0,1.0
99,2022-07-14,38.22,39.550,38.200,39.34,38.692095,366110.0,0.0,1.0

In [34]:
#Reseting index of travel dataFrame.
dataFrame_travel = pd.DataFrame(c_travel[0]).reset_index(level=0)
dataFrame_travel

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-02,39.64,39.910,39.4100,39.75,39.75,5312603.0,0.0,1.0
1,2022-12-01,40.00,40.200,39.7100,40.08,40.08,5185195.0,0.0,1.0
2,2022-11-30,39.28,39.935,38.8150,39.91,39.91,4794101.0,0.0,1.0
3,2022-11-29,38.63,39.380,38.6300,39.25,39.25,4628793.0,0.0,1.0
4,2022-11-28,38.96,39.140,38.4650,38.57,38.57,4533839.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-20,41.44,41.760,40.8300,41.50,41.50,5161971.0,0.0,1.0
96,2022-07-19,40.52,41.640,40.5200,41.49,41.49,5068915.0,0.0,1.0
97,2022-07-18,40.15,40.915,39.7528,39.95,39.95,5433828.0,0.0,1.0
98,2022-07-15,39.05,39.720,38.3700,39.58,39.58,5121539.0,0.0,1.0
99,2022-07-14,38.31,39.290,38.1000,38.46,38.46,5987823.0,0.0,1.0

In [35]:
#Reseting index of american stock exchange dataFrame.
dataFrame_real_estate = pd.DataFrame(d_real_estate[0]).reset_index(level=0)
dataFrame_real_estate

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-02,218.27,220.910,216.27,219.37,219.370000,1354622.0,0.0,1.0
1,2022-12-01,224.42,225.965,219.89,221.30,221.300000,1708694.0,0.0,1.0
2,2022-11-30,215.88,221.340,214.67,221.25,221.250000,3889213.0,0.0,1.0
3,2022-11-29,214.81,217.270,213.32,217.22,217.220000,1848103.0,0.0,1.0
4,2022-11-28,218.71,220.370,213.04,213.90,213.900000,1367286.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-20,256.00,257.930,249.43,249.74,247.867905,1573621.0,0.0,1.0
96,2022-07-19,251.61,257.270,251.50,257.16,255.232284,1506361.0,0.0,1.0
97,2022-07-18,256.91,257.790,248.58,249.25,247.381578,1608197.0,0.0,1.0
98,2022-07-15,259.88,260.785,255.33,257.20,255.271984,1181127.0,0.0,1.0
99,2022-07-14,251.75,257.850,251.43,256.51,254.587156,1579240.0,0.0,1.0

In [36]:
#Reseting index of american stock exchange dataFrame.
dataFrame_precious_metals = pd.DataFrame(e_precious_metals[0]).reset_index(level=0)
dataFrame_precious_metals

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-02,16.78,17.140,16.58,16.98,16.980000,18763740.0,0.00,1.0
1,2022-12-01,16.75,17.340,16.67,17.09,17.090000,31207840.0,0.00,1.0
2,2022-11-30,16.03,16.440,15.87,16.32,16.320000,25458234.0,0.00,1.0
3,2022-11-29,15.59,15.960,15.54,15.87,15.870000,15770773.0,0.05,1.0
4,2022-11-28,16.05,16.090,15.50,15.50,15.451319,26018947.0,0.00,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-20,15.99,16.045,15.43,15.45,15.299412,22001419.0,0.00,1.0
96,2022-07-19,15.83,16.080,15.71,16.03,15.873759,19009917.0,0.00,1.0
97,2022-07-18,15.96,16.086,15.82,15.82,15.665806,19249811.0,0.00,1.0
98,2022-07-15,15.86,15.880,15.40,15.66,15.507365,24698715.0,0.00,1.0
99,2022-07-14,15.90,15.950,15.27,15.77,15.616293,38960795.0,0.00,1.0